@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* css reset taken from https://www.joshwcomeau.com/css/custom-css-reset/#the-css-reset-1  */
*, *::before, *::after {
    box-sizing: border-box;
  }

* {
margin: 0;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
font-family: Ubuntu, sans-serif;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

#root, #__next {
isolation: isolate;
}
/* ********************************* */

/* global css */
.container-navbar, .container-sidebar, .container-music, .container-queue, .container-footer {
  box-sizing: border-box;
  border: 2px solid;
}
.container-main {
  display: flex;
  justify-content: space-between;
}

/* top panel css */
.container .container-navbar .logo {
font-family: 'Space Grotesk', sans-serif;
display: flex;
align-items: center;
justify-self: center;
gap: 6px;
padding: 15px;
}

/* left panel css */
.container-sidebar .sidebar .load-file {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-sidebar .sidebar .load-file > label {
background-color: gray;
color: white;
padding: 0.5rem;
border-radius: 0.3rem;
cursor: pointer;
}

/* music controls css */
.container-controls .inner-controls {
  display: flex;
}

.play-pause .pause {
  display: none;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume #mute, #volume25, #volume100 {
  display: none;
}

.volume .volume-range {
  display: none;
}

.volume .bar-hoverbox {
  padding: 10px 15px;
  opacity: 0.7;
  transition: opacity .2s;
}

.volume .bar-hoverbox:hover {
  opacity: 1;
  cursor: pointer;
}

.volume .bar-hoverbox .bar {
  background: #999;
  height: 7px;
  width: 120px;
  border-radius: 15px;
  overflow: hidden;
  pointer-events: none;
}

.volume .bar-hoverbox .bar .bar-fill {
  background: #000;
  width: 0%;
  height: 100%;
  background-clip: border-box;
  pointer-events: nones;
}